# --- IDEs y Editores ---
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates

# --- .NET (Backend) ---
**/bin/
**/obj/
appsettings.Development.json
*.usersecrets.json

# --- Angular (Frontend) ---
**/node_modules/
**/dist/
**/tmp/
**/out-tsc/
**/.angular/cache/
npm-debug.log*
yarn-error.log*

# --- Python / FastAPI (IA Service) ---
**/__pycache__/
**/.venv/
**/env/
*.py[cod]

# --- Misceláneo y Sistema ---
.DS_Store
Thumbs.db
/coverage
/typings