
# 1. ENTORNOS DE DESARROLLO (IDEs)
.vscode/
.vs/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache

# 2. BACKEND (.NET / C#)
**/[Bb]in/
**/[Oo]bj/
# Ignorar configuraciones con credenciales de DB
[Aa]ppsettings.Development.json
[Aa]ppsettings.Production.json
*.usersecrets.json
# Archivos de publicación
publish/
_PublishedWebsites/


# 3. FRONTEND (Angular)
**/node_modules/
**/dist/
**/tmp/
**/out-tsc/
**/.angular/cache/
.npm/
npm-debug.log*
yarn-error.log*
.editorconfig


# 4. SERVICIOS IA (Python / FastAPI)
**/__pycache__/
**/.venv/
**/env/
**/venv/
ENV/
*.py[cod]
*.so
.python-version
**/modelos/
*.bin
*.pt
*.onnx
*.weights
*.h5
*.joblib
*.model

# 5. BASE DE DATOS Y LOGS
*.log
*.sql.gz
*.bak
**/logs/
# Si guardas imágenes de comprobantes localmente
**/uploads/
**/temp_receipts/


# 6. SISTEMA OPERATIVO
.DS_Store
Thumbs.db
desktop.ini
