:host {
  display: block;
}

@media (max-width: 900px) {
  aside {
    width: 5rem !important;
  }

  aside + div {
    padding-left: 5rem !important;
  }
}

@media (max-width: 640px) {
  header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  main {
    padding: 1rem;
  }
}
